# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
.env*
wildshield.db
runs/
__pycache__/
Animals Datasets 1/
Animals Datasets 2/
yolo11n.pt

# Ignore temporary raw dataset dumps
WildShield-Dataset/raw/
WildShield-Dataset/processed/
WildShield-Dataset/rejected/